.burger-trigger {
  z-index: 101;
  display: grid;
  grid-template-columns: 1fr;
  transition-property: transform, background;
  transition-duration: $transitionDuration;
  gap: rem(7.5);

  &__item {
    border-radius: rem(4);
    width: rem(24);
    height: rem(3);
    background-color: var(--color-primary);
    transition-property: transform, opacity, visibility, background;
    transition-duration: $transitionDuration;
  }

  &[aria-expanded='true'] {
    .burger-trigger__item {
      &:nth-child(1) {
        transform: rotate(45deg) translate(rem(8), rem(8));
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(rem(7), rem(-7));
      }
    }
  }

  @include mouse-device {
    padding: 0.5rem;
    transform: translateX(0.5rem);

    &:focus,
    &:hover {
      background-color: var(--color-primary);

      .burger-trigger__item {
        background-color: var(--color-white);
      }
    }
  }

  @include touch-device {
    &:active {
      .burger-trigger__item {
        background-color: var(--color-radicalRed);
      }
    }
  }
}
