.button {
  display: inline-block;
  border: rem(1) solid transparent;
  border-radius: rem(4);
  font-weight: 700;
  text-transform: uppercase;

  &_size-large {
    padding: rem(16) rem(40);
    font-size: rem(16);
  }

  &_background-primary {
    background-color: var(--color-primary);
  }

  &_border-white {
    border-color: var(--color-white);
  }

  &_color-white {
    color: var(--color-white);
  }

  &_animation-dark-style {
    transition-property: border-color, color, background;
    transition-duration: $transitionDuration;

    @mixin animation-dark-style {
      border-color: transparent;
      color: var(--color-white);
      background-color: var(--color-mako);
    }

    /* stylelint-disable-next-line order/order */
    @include mouse-device {
      &:hover,
      &:focus {
        @include animation-dark-style;
      }
    }

    @include touch-device {
      &:active {
        @include animation-dark-style;
      }
    }
  }

  &_animation-light-style {
    transition-property: color, background;
    transition-duration: $transitionDuration;

    @mixin animation-light-style {
      color: var(--color-mako);
      background-color: var(--color-white);
    }

    /* stylelint-disable-next-line order/order */
    @include mouse-device {
      &:hover,
      &:focus {
        @include animation-light-style;
      }
    }

    @include touch-device {
      &:active {
        @include animation-light-style;
      }
    }
  }
}
