%form-text-l {
  font-size: rem(14);
  line-height: lh(21, 14);
}

.form {
  &__item {
    position: relative;
  }

  &__label {
    display: block;
    margin: 0 0 rem(8);
    color: var(--color-mako);
  }

  &__input {
    border-radius: rem(4);
    width: 100%;

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }

    @extend .input-reset;
  }

  &__input:not(:placeholder-shown) + &__prompt {
    opacity: 1;
    transform: translateY(0);
  }

  &__prompt {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform: translateY(50%);
    transition-property: opacity, transform;
    transition-duration: $transitionDuration;

    @extend .text-reset;
    @extend .text-size-xs;
  }

  &_size-l {
    .form__input {
      padding: rem(14) rem(16);

      @extend %form-text-l;
    }

    .form__label {
      @extend %form-text-l;
    }
  }

  &_style-dark {
    .form__input {
      color: var(--color-white);
      background-color: var(--color-mako);
    }
  }

  &_primary-animation {
    .form__input {
      border: rem(1) solid transparent;
      transition-property: background, border-color, color;
      transition-duration: $transitionDuration;

      &::placeholder {
        transition: color $transitionDuration;
      }

      @include mouse-device {
        &:hover,
        &:focus {
          border-color: var(--color-primary);
          color: var(--color-primary);
          background-color: rgba(255, 90, 48, 20%);
        }
      }

      @include touch-device {
        &:focus {
          border-color: var(--color-radicalRed);
          color: var(--color-radicalRed);
          background-color: rgba(245, 47, 110, 20%);
        }
      }
    }
  }
}
