.navigation {
  &__link {
    outline: none;
    border: rem(2) solid transparent;
    color: var(--color-mako);
    transition-property: border-color, color;
    transition-duration: $transitionDuration;

    @extend .text-size-xs;
    @extend .text-bold;

    /* stylelint-disable-next-line order/order */
    @include mouse-device {
      &:focus {
        border-bottom-color: var(--color-primary);
        color: var(--color-primary);
      }

      &:hover {
        color: var(--color-primary);
      }
    }

    @include touch-device {
      &:active {
        color: var(--color-radicalRed);
      }
    }
  }
}
