.section {
  padding: rem(100) 0;

  @include small-tablet {
    padding: rem(50) 0;
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) and (max-height: rem(500)) {
    padding: rem(50) 0;
  }
}
