:root {
  /*
  *
  * Colors
  *
  */
  --color-white: #fff;
  --color-primary: #ff5a30;
  --color-mako: #424551;
  --color-radicalRed: #f52f6e;
  --color-stormGray: #787a80;

  /*
  *
  * Font-Family
  *
  */
  --ff-ubuntu: 'Ubuntu';
  --ff-lato: 'Lato';
}

/*
  *
  * Transition Duration
  *
  */

$transitionDuration: 0.4s;
