.error-notification {
  &__content {
    padding-top: rem(146);
    background-image: url('../img/danger.svg');
    background-position: top rem(48) center;
    background-size: rem(98) rem(98);
    background-repeat: no-repeat;

    @include mobile {
      padding: rem(146) rem(24) rem(24);
    }
  }

  &__text {
    font-size: rem(24);
    text-align: center;

    @include mobile {
      font-size: rem(18);
    }
  }
}
