.reviews {
  background-color: rgba(66, 69, 81, 10%);

  &__grid {
    display: grid;
    grid-template-columns: minmax(0, rem(600)) minmax(0, rem(495));
    gap: rem(60) rem(135);

    @include tablet {
      grid-template-columns: 100%;
    }
  }

  &__item {
    position: relative;

    &_img {
      overflow: hidden;
      margin-bottom: rem(-180);
      border-radius: rem(4);

      @include tablet {
        display: none;
      }
    }
  }

  .review__name,
  .review__job {
    padding-right: 6.75rem;
  }

  .buttons-slider {
    position: absolute;
    right: 0;
    bottom: 0;

    &__button {
      @extend .buttons-slider__button_style-primary;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
